@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

nav.footer{
	margin-top: 50px;
	background-color: orange;
	color: white;
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 5px;
	word-spacing: 5px;
	font-family: 'Noto Sans KR';
	position: relative;
    left:0;
    bottom: 0;
    height: auto;
    width: 1500px;
	vertical-align: bottom;
}