@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

nav {
     width: 100%;
     height: 10%;
     border-top: 2px solid orange;
     border-bottom: 2px solid orange; 
     line-height: 40px;
     letter-spacing: 5px;
}

nav ul li {
     display: inline;
     padding: 40px;
}

.menubar{
	padding-inline-start: 0;	
}

nav ul {
     list-style: none;
     text-align: center;
}

ul{
     list-style: none;
}

a{
     text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

a:hover {
	 text-shadow: 3px 2px orange;
}

header {
    width : 100%;
    height: 10%;
    position: relative;
    padding-bottom: 30px; 
}
  
#login{
	text-align: right;
}
#logout{
		text-align: right;
}
#title{
	word-spacing: 10px;
	font-weight:bold;
	text-decoration: none;
 	font-family: 'Abril Fatface', cursive; 
	text-align: center;
}



h1 a{
	color: white;
}
h3 a{
	color: white;
}
h3 {
	color: white;
}

body{
	background-color: black;
}

#hyundai{
	background-image: url('../img/road1.jpg');
	opacity: 0.8;
	background-size: 100%;
	width: 50%;
	height: 500px;
	float: left;
	color: white;
	text-align: center;
}

#hyundai:hover{
	opacity: 1;
	cursor: pointer;
}

#ph{
	margin-top: 20%;
	font-size: 50px;
	text-shadow: 3px 2px blue;
}

#pk{
	margin-top: 20%;
	font-size: 50px;
	text-shadow: 3px 2px red;
}

.p1{
	font-weight: bold;
	margin-top: 10%;
	text-shadow: 3px 2px black;
}

#kia {
	background-image: url('../img/road3.jpg');
 	opacity: 0.8;
	background-size: 100%;
	width: 50%;
	height: 500px;
	float: left;
	color: white;
	text-align: center;
}

#kia:hover{
	opacity: 1;
	cursor: pointer;
}