@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');


#output{
	font-family: 'Noto Sans KR';
}

label {
	display: inline-block;
	width: 150px;
}

input {
	display: inline-block;
	width: 200px;
}

#outline{
	border: 2px solid orange;
}

.content{
	margin: 0 auto;
	margin-left: 30%;
	font-size: 20px;
}

fieldset{
		margin-inline-start: 100px;
		margin-inline-end: 100px;
}

legend{
	font-size: 30px;
	font-weight: bold;
}

.input{
	height: 30px;
}

#btn1{
	background-color: orange;
	border: 2px solid orange;
	border-radius: 2px;
	color: white; 
}

#submit{
	margin-left: 550px;
	border-radius: 4px;
	border: 2px solid olive;
	background-color: olive;
	color: white;
	font-size: 25px;
	width: 400px;
	height: 60px;
}
	
#submit:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  cursor: pointer;
}

#reset{
	margin-left: 1100px;
	width: 3cm;
	color: white;
	border-radius: 4px;
	border: 2px solid olive;
	background-color: olive;
	cursor: pointer;
}
#withdrawal{
	width: 3cm;
	color: white;
	border-radius: 4px;
	border: 2px solid olive;
	background-color: olive;
	cursor: pointer;
}
.rd{
	width: 50px;
	margin: 0px 0px 0px 0px;
}